node-red/26012566.txt
[
    {
        "id": "7f19d494c059e988",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "07ee3ad2e7ca2297",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4195737a67aef4ad",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7fd436e7dab36952",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "56b9510c.98c6f",
        "type": "tab",
        "label": "NETIO AN30 (REST JSON)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "20f5b48f.283ffc",
        "type": "subflow",
        "name": "Timer Settings (2)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 500,
                "y": 320,
                "wires": [
                    {
                        "id": "dd09ea56.667bf8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 740,
                "y": 320,
                "wires": [
                    {
                        "id": "dd09ea56.667bf8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "TimerNumber",
                "type": "num",
                "value": ""
            },
            {
                "name": "PayloadON",
                "type": "str",
                "value": ""
            },
            {
                "name": "PayloadOFF",
                "type": "str",
                "value": ""
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "f8016950.9aa06",
        "type": "group",
        "z": "7f19d494c059e988",
        "name": "Date Picker",
        "style": {
            "label": true
        },
        "nodes": [
            "afd2b0ea.a2b2",
            "129f32bc.85a52d",
            "5711fbc.9c2ec04",
            "b6e8214d.1751",
            "f82479c.3b3af08"
        ],
        "x": 1094,
        "y": 1699,
        "w": 972,
        "h": 122
    },
    {
        "id": "b405711ecd9fc7a4",
        "type": "mqtt-broker",
        "name": "netpie",
        "broker": "broker.netpie.io",
        "port": "1883",
        "clientid": "23d84404-8e3f-40e7-83c9-7b38a72571da",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "1",
        "birthRetain": "true",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "89997a97b73d5141",
        "type": "ui_tab",
        "name": "Smart hydroponics",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9d032e6ae7b90f8d",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#ff5900",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#850000",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#ff5900",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#ff8b4d",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#ff5900",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "89d495f2765b506e",
        "type": "ui_group",
        "name": "Mobile dashboard",
        "tab": "89997a97b73d5141",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2be4d3929d51de61",
        "type": "ui_spacer",
        "z": "7f19d494c059e988",
        "name": "spacer",
        "group": "89d495f2765b506e",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "1002d5ac35eae632",
        "type": "ui_spacer",
        "z": "7f19d494c059e988",
        "name": "spacer",
        "group": "89d495f2765b506e",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "6a9ffbdf1b9ced03",
        "type": "blynk-ws-client",
        "name": "",
        "path": "",
        "key": "",
        "dbg_all": true,
        "dbg_read": false,
        "dbg_write": false,
        "dbg_notify": false,
        "dbg_mail": false,
        "dbg_prop": false,
        "dbg_sync": false,
        "dbg_bridge": false,
        "dbg_low": false,
        "dbg_pins": "",
        "multi_cmd": false,
        "proxy_type": "no",
        "proxy_url": "",
        "enabled": false
    },
    {
        "id": "e7659d268b145491",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "iot",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "4c268b1318112370",
        "type": "ui_spacer",
        "z": "7f19d494c059e988",
        "name": "spacer",
        "group": "96831b6d569a98c7",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "bcd99733173ff9b0",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "66b01cfada6acfb3",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "bcd99733173ff9b0",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "24c7fd76550f3bef",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "bcd99733173ff9b0",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "cca3954a.9ac258",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "4436028d.0ebaac",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "4436028d.0ebaac",
        "type": "ui_tab",
        "name": "Tab 5",
        "icon": "dashboard",
        "order": 5
    },
    {
        "id": "f5d3be41.2e7f7",
        "type": "ui_group",
        "name": "Function",
        "tab": "940e745.140c088",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2217bbc8.099fa4",
        "type": "ui_group",
        "name": "Settings",
        "tab": "940e745.140c088",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "940e745.140c088",
        "type": "ui_tab",
        "name": "Date Picker",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6f0450b9abbe27dc",
        "type": "ui_group",
        "name": "Meteo",
        "tab": "5b337e3b.68826",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "5b337e3b.68826",
        "type": "ui_tab",
        "name": "Servizi",
        "icon": "home",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "26e9592a.402186",
        "type": "ui_group",
        "name": "Scenes",
        "tab": "55369c29.7ac9d4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "55369c29.7ac9d4",
        "type": "ui_tab",
        "name": "Alarm Panel",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "3ac4cc84.a53204",
        "type": "ui_group",
        "name": "Hot Tub",
        "tab": "484568b1.0b3ae8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "484568b1.0b3ae8",
        "type": "ui_tab",
        "name": "Garden",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "184e2bee2e072a93",
        "type": "ui_group",
        "name": "On time",
        "tab": "bcd99733173ff9b0",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "6b5503ba433b307f",
        "type": "ui_group",
        "name": "Off time",
        "tab": "bcd99733173ff9b0",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bab6a33222fcfd11",
        "type": "ui_group",
        "name": "EC",
        "tab": "bcd99733173ff9b0",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b36f62225f2f2ec8",
        "type": "ui_group",
        "name": "pH",
        "tab": "bcd99733173ff9b0",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f9581f43a5c07273",
        "type": "ui_group",
        "name": "Group 7",
        "tab": "bcd99733173ff9b0",
        "order": 7,
        "disp": true,
        "width": 6
    },
    {
        "id": "a7539552.a04768",
        "type": "ui_group",
        "name": "Device Management",
        "tab": "23994b37.39eb44",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ab94b758.4be768",
        "type": "ui_group",
        "name": "Control Output 1",
        "tab": "23994b37.39eb44",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a5e4e892.40d1b8",
        "type": "ui_group",
        "name": "O1 - O4 Output States",
        "tab": "23994b37.39eb44",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "23994b37.39eb44",
        "type": "ui_tab",
        "name": "NETIO AN30 (REST JSON)",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "470e04a4.87c72c",
        "type": "ui_group",
        "name": "Device Status",
        "tab": "23994b37.39eb44",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5d0c1097ead086ed",
        "type": "ui_group",
        "name": "Status device",
        "tab": "bcd99733173ff9b0",
        "order": 8,
        "disp": true,
        "width": 10,
        "collapse": false
    },
    {
        "id": "47b180e2300d5a4b",
        "type": "ui_link",
        "name": "Link 9",
        "link": "https://www.bobvila.com/articles/how-to-grow-lettuce-indoors/",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 9
    },
    {
        "id": "d3603c33c86d5ed5",
        "type": "ui_spacer",
        "z": "7f19d494c059e988",
        "name": "spacer",
        "group": "184e2bee2e072a93",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "d4ab40b3e80408d1",
        "type": "ui_spacer",
        "z": "7f19d494c059e988",
        "name": "spacer",
        "group": "184e2bee2e072a93",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "e67a5251e41808b8",
        "type": "ui_spacer",
        "z": "7f19d494c059e988",
        "name": "spacer",
        "group": "6b5503ba433b307f",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "7d8372ca230c715a",
        "type": "ui_spacer",
        "z": "7f19d494c059e988",
        "name": "spacer",
        "group": "6b5503ba433b307f",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "e96362783b432aaa",
        "type": "ui_spacer",
        "z": "7f19d494c059e988",
        "name": "spacer",
        "group": "bab6a33222fcfd11",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "ff95d541a3155ae3",
        "type": "ui_spacer",
        "z": "7f19d494c059e988",
        "name": "spacer",
        "group": "bab6a33222fcfd11",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "314d0afd546fae39",
        "type": "ui_spacer",
        "z": "7f19d494c059e988",
        "name": "spacer",
        "group": "b36f62225f2f2ec8",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "a39bbab7e4d9c666",
        "type": "ui_spacer",
        "z": "7f19d494c059e988",
        "name": "spacer",
        "group": "b36f62225f2f2ec8",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "2383ba01e0689ddd",
        "type": "ui_spacer",
        "z": "7f19d494c059e988",
        "name": "spacer",
        "group": "5d0c1097ead086ed",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "df8948660fa022fb",
        "type": "ui_spacer",
        "z": "7f19d494c059e988",
        "name": "spacer",
        "group": "5d0c1097ead086ed",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "dd09ea56.667bf8",
        "type": "function",
        "z": "20f5b48f.283ffc",
        "name": "",
        "func": "var x = env.get(\"TimerNumber\"); \nvar y = env.get(\"PayloadON\"); \nvar z = env.get(\"PayloadOFF\"); \n\nflow.set(\"$parent.Timer\"+x, x);\nflow.set(\"$parent.Payload\"+x+\"_on\", y);\nflow.set(\"$parent.Payload\"+x+\"_off\", z);\n\n\n\nmsg.payload = \"Your timer \" + x + \" has been set\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "106f3c67c8112320",
        "type": "mqtt in",
        "z": "7f19d494c059e988",
        "name": "",
        "topic": "@msg/sensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b405711ecd9fc7a4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 400,
        "wires": [
            [
                "9154853730267418",
                "62346d2da431f23c"
            ]
        ]
    },
    {
        "id": "9154853730267418",
        "type": "debug",
        "z": "7f19d494c059e988",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 360,
        "wires": []
    },
    {
        "id": "62346d2da431f23c",
        "type": "function",
        "z": "7f19d494c059e988",
        "name": "function 1",
        "func": "if (msg.payload >= 30 && msg.payload <= 50){\n    msg.payload = 1;\n    return msg;\n}\nelse{\n\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 500,
        "wires": [
            [
                "0ac9ccd8f108df54",
                "355efa779f083cef"
            ]
        ]
    },
    {
        "id": "3c4b85fb7fe936bb",
        "type": "mqtt out",
        "z": "7f19d494c059e988",
        "name": "",
        "topic": "@msg/home1/plant1/pump",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b405711ecd9fc7a4",
        "x": 900,
        "y": 480,
        "wires": []
    },
    {
        "id": "0ac9ccd8f108df54",
        "type": "debug",
        "z": "7f19d494c059e988",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 500,
        "wires": []
    },
    {
        "id": "355efa779f083cef",
        "type": "trigger",
        "z": "7f19d494c059e988",
        "name": "",
        "op1": "",
        "op2": "1",
        "op1type": "nul",
        "op2type": "num",
        "duration": "60",
        "extend": false,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 650,
        "y": 580,
        "wires": [
            [
                "3c4b85fb7fe936bb",
                "0b6bd3fe92793d19"
            ]
        ]
    },
    {
        "id": "0b6bd3fe92793d19",
        "type": "debug",
        "z": "7f19d494c059e988",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 850,
        "y": 620,
        "wires": []
    },
    {
        "id": "becfd727fc9c2622",
        "type": "inject",
        "z": "7f19d494c059e988",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "a45255f2fa600162",
        "type": "mqtt in",
        "z": "7f19d494c059e988",
        "name": "",
        "topic": "@msg/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b405711ecd9fc7a4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 400,
        "y": 860,
        "wires": [
            [
                "663af3bad3a36804",
                "6ea138be892171e7",
                "cea5f98ded36fe5a"
            ]
        ]
    },
    {
        "id": "663af3bad3a36804",
        "type": "debug",
        "z": "7f19d494c059e988",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 780,
        "wires": []
    },
    {
        "id": "6ea138be892171e7",
        "type": "ui_gauge",
        "z": "7f19d494c059e988",
        "name": "",
        "group": "89d495f2765b506e",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{msg.payload.Temperature}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 570,
        "y": 840,
        "wires": []
    },
    {
        "id": "cea5f98ded36fe5a",
        "type": "ui_gauge",
        "z": "7f19d494c059e988",
        "name": "",
        "group": "89d495f2765b506e",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{msg.payload.Humidity}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 570,
        "y": 900,
        "wires": []
    },
    {
        "id": "d4c82f883e28af11",
        "type": "ui_led",
        "z": "7f19d494c059e988",
        "group": "89d495f2765b506e",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "555555",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "violet",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 390,
        "y": 1080,
        "wires": []
    },
    {
        "id": "d7837190db215895",
        "type": "mqtt in",
        "z": "7f19d494c059e988",
        "name": "",
        "topic": "@msg/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b405711ecd9fc7a4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1080,
        "wires": [
            [
                "d4c82f883e28af11",
                "1795ba9f50b7c25c"
            ]
        ]
    },
    {
        "id": "db35629d48817b5c",
        "type": "mqtt out",
        "z": "7f19d494c059e988",
        "name": "",
        "topic": "@msg/temp",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b405711ecd9fc7a4",
        "x": 770,
        "y": 1020,
        "wires": []
    },
    {
        "id": "f40bdeec85520194",
        "type": "ui_switch",
        "z": "7f19d494c059e988",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "89d495f2765b506e",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 410,
        "y": 960,
        "wires": [
            [
                "47b067c3a9937ff3",
                "48216ff8aec29468"
            ]
        ]
    },
    {
        "id": "1795ba9f50b7c25c",
        "type": "debug",
        "z": "7f19d494c059e988",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 1020,
        "wires": []
    },
    {
        "id": "d88e24853b647ad9",
        "type": "ui_slider",
        "z": "7f19d494c059e988",
        "name": "",
        "label": "pH",
        "tooltip": "",
        "group": "89d495f2765b506e",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "5.5",
        "max": "7",
        "step": "0.01",
        "x": 250,
        "y": 1180,
        "wires": [
            [
                "974c6a1fb3363656"
            ]
        ]
    },
    {
        "id": "974c6a1fb3363656",
        "type": "debug",
        "z": "7f19d494c059e988",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 1140,
        "wires": []
    },
    {
        "id": "16a084a7eb59f21a",
        "type": "ui_slider",
        "z": "7f19d494c059e988",
        "name": "",
        "label": "EC",
        "tooltip": "",
        "group": "89d495f2765b506e",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "2",
        "step": "0.01",
        "x": 250,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "7f8dab8207b4d325",
        "type": "mysql",
        "z": "7f19d494c059e988",
        "mydb": "e7659d268b145491",
        "name": "",
        "x": 650,
        "y": 200,
        "wires": [
            [
                "766235e7ba6c771a"
            ]
        ]
    },
    {
        "id": "44ab8049b204e399",
        "type": "inject",
        "z": "7f19d494c059e988",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 180,
        "wires": [
            [
                "97a9aa2f41adc175"
            ]
        ]
    },
    {
        "id": "97a9aa2f41adc175",
        "type": "function",
        "z": "7f19d494c059e988",
        "name": "function 2",
        "func": "msg.payload = [2, 69];\nmsg.topic = \"INSERT INTO users (`userid`, `username`) VALUES (?, ?);\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 180,
        "wires": [
            [
                "d47dda9d764838f7",
                "7f8dab8207b4d325"
            ]
        ]
    },
    {
        "id": "d47dda9d764838f7",
        "type": "debug",
        "z": "7f19d494c059e988",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 140,
        "wires": []
    },
    {
        "id": "766235e7ba6c771a",
        "type": "debug",
        "z": "7f19d494c059e988",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 200,
        "wires": []
    },
    {
        "id": "843238d7.baddb8",
        "type": "change",
        "z": "7f19d494c059e988",
        "name": "16:00",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "06:00",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1400,
        "wires": [
            [
                "dcc5e0fa.7ec9b"
            ]
        ]
    },
    {
        "id": "dcc5e0fa.7ec9b",
        "type": "ui_text_input",
        "z": "7f19d494c059e988",
        "name": "",
        "label": "Test Time",
        "tooltip": "",
        "group": "cca3954a.9ac258",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "time",
        "delay": "0",
        "topic": "@msg/time",
        "topicType": "str",
        "x": 560,
        "y": 1400,
        "wires": [
            [
                "b6c1358f.8398e8",
                "4110264dda7d81a6"
            ]
        ]
    },
    {
        "id": "b9b4a3a7.304cf",
        "type": "inject",
        "z": "7f19d494c059e988",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 1400,
        "wires": [
            [
                "843238d7.baddb8"
            ]
        ]
    },
    {
        "id": "b6c1358f.8398e8",
        "type": "debug",
        "z": "7f19d494c059e988",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 1400,
        "wires": []
    },
    {
        "id": "ed248b9a3abc1ce3",
        "type": "mqtt in",
        "z": "7f19d494c059e988",
        "name": "",
        "topic": "@msg/time",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b405711ecd9fc7a4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 630,
        "y": 1080,
        "wires": [
            [
                "22c008ed4439b481"
            ]
        ]
    },
    {
        "id": "22c008ed4439b481",
        "type": "debug",
        "z": "7f19d494c059e988",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 1080,
        "wires": []
    },
    {
        "id": "4110264dda7d81a6",
        "type": "mqtt out",
        "z": "7f19d494c059e988",
        "name": "",
        "topic": "@msg/time",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b405711ecd9fc7a4",
        "x": 790,
        "y": 1340,
        "wires": []
    },
    {
        "id": "a085966359529163",
        "type": "ui_numeric",
        "z": "7f19d494c059e988",
        "name": "",
        "label": "numeric",
        "tooltip": "",
        "group": "cca3954a.9ac258",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 440,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "b1890bea8bdb1723",
        "type": "ui_text_input",
        "z": "7f19d494c059e988",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "cca3954a.9ac258",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "@msg/time",
        "topicType": "msg",
        "x": 440,
        "y": 1620,
        "wires": [
            [
                "772a312985a6437b",
                "9fa2051aae09bfa7"
            ]
        ]
    },
    {
        "id": "772a312985a6437b",
        "type": "debug",
        "z": "7f19d494c059e988",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 1620,
        "wires": []
    },
    {
        "id": "afd2b0ea.a2b2",
        "type": "ui_date_picker",
        "z": "7f19d494c059e988",
        "g": "f8016950.9aa06",
        "name": "",
        "label": "Birthday",
        "group": "f5d3be41.2e7f7",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "@msg/time",
        "topicType": "msg",
        "x": 1660,
        "y": 1740,
        "wires": [
            [
                "129f32bc.85a52d"
            ]
        ]
    },
    {
        "id": "129f32bc.85a52d",
        "type": "debug",
        "z": "7f19d494c059e988",
        "g": "f8016950.9aa06",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1950,
        "y": 1740,
        "wires": []
    },
    {
        "id": "5711fbc.9c2ec04",
        "type": "ui_button",
        "z": "7f19d494c059e988",
        "g": "f8016950.9aa06",
        "name": "",
        "group": "2217bbc8.099fa4",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Enable Button",
        "tooltip": "",
        "color": "green",
        "bgcolor": "white",
        "icon": "settings",
        "payload": "true",
        "payloadType": "bool",
        "topic": "@msg/time",
        "topicType": "msg",
        "x": 1200,
        "y": 1740,
        "wires": [
            [
                "f82479c.3b3af08"
            ]
        ]
    },
    {
        "id": "b6e8214d.1751",
        "type": "ui_button",
        "z": "7f19d494c059e988",
        "g": "f8016950.9aa06",
        "name": "",
        "group": "2217bbc8.099fa4",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Disable Button",
        "tooltip": "",
        "color": "red",
        "bgcolor": "white",
        "icon": "settings",
        "payload": "false",
        "payloadType": "bool",
        "topic": "@msg/time",
        "topicType": "msg",
        "x": 1200,
        "y": 1780,
        "wires": [
            [
                "f82479c.3b3af08"
            ]
        ]
    },
    {
        "id": "f82479c.3b3af08",
        "type": "change",
        "z": "7f19d494c059e988",
        "g": "f8016950.9aa06",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 1740,
        "wires": [
            [
                "afd2b0ea.a2b2"
            ]
        ]
    },
    {
        "id": "c8f53d3f5826ef9d",
        "type": "inject",
        "z": "7f19d494c059e988",
        "name": "place start holder",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "43200000",
        "payloadType": "num",
        "x": 190,
        "y": 1620,
        "wires": [
            [
                "b1890bea8bdb1723"
            ]
        ]
    },
    {
        "id": "9fa2051aae09bfa7",
        "type": "change",
        "z": "7f19d494c059e988",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "startTime",
                "pt": "global",
                "to": "payload",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1560,
        "wires": [
            [
                "7048ed52c193f470"
            ]
        ]
    },
    {
        "id": "7048ed52c193f470",
        "type": "debug",
        "z": "7f19d494c059e988",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 1560,
        "wires": []
    },
    {
        "id": "31cc79da1eedae8e",
        "type": "mqtt in",
        "z": "7f19d494c059e988",
        "name": "",
        "topic": "@msg/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b405711ecd9fc7a4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "47b067c3a9937ff3",
        "type": "debug",
        "z": "7f19d494c059e988",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 960,
        "wires": []
    },
    {
        "id": "48216ff8aec29468",
        "type": "function",
        "z": "7f19d494c059e988",
        "name": "function 3",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1000,
        "wires": [
            [
                "db35629d48817b5c"
            ]
        ]
    },
    {
        "id": "63f9b24dff79653d",
        "type": "trigger",
        "z": "7f19d494c059e988",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "3",
        "extend": false,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 780,
        "y": 1960,
        "wires": [
            [
                "4b90dcbd32cb3391",
                "8f2d0d6b4a92f0c8"
            ]
        ]
    },
    {
        "id": "4b90dcbd32cb3391",
        "type": "debug",
        "z": "7f19d494c059e988",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 1920,
        "wires": []
    },
    {
        "id": "f04b77fa18271244",
        "type": "ui_numeric",
        "z": "7f19d494c059e988",
        "name": "",
        "label": "EC high",
        "tooltip": "",
        "group": "bab6a33222fcfd11",
        "order": 3,
        "width": 5,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "echigh",
        "topicType": "msg",
        "format": "{{value}}  mS/cm",
        "min": "1.5",
        "max": "2",
        "step": "0.1",
        "x": 580,
        "y": 1960,
        "wires": [
            [
                "63f9b24dff79653d"
            ]
        ]
    },
    {
        "id": "45fad4270feb37fb",
        "type": "ui_numeric",
        "z": "7f19d494c059e988",
        "name": "",
        "label": "pH low",
        "tooltip": "",
        "group": "b36f62225f2f2ec8",
        "order": 1,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "",
        "min": "0",
        "max": "5.5",
        "step": "0.1",
        "x": 570,
        "y": 2020,
        "wires": [
            [
                "23574198917a287d"
            ]
        ]
    },
    {
        "id": "23574198917a287d",
        "type": "trigger",
        "z": "7f19d494c059e988",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "3",
        "extend": false,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 780,
        "y": 2020,
        "wires": [
            [
                "837c8f0a3143434a",
                "4f9044cf3609e5ad"
            ]
        ]
    },
    {
        "id": "837c8f0a3143434a",
        "type": "debug",
        "z": "7f19d494c059e988",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 2000,
        "wires": []
    },
    {
        "id": "1c0ce4be971f0511",
        "type": "ui_numeric",
        "z": "7f19d494c059e988",
        "name": "",
        "label": "pH high",
        "tooltip": "",
        "group": "b36f62225f2f2ec8",
        "order": 3,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "",
        "min": "5.5",
        "max": "8",
        "step": "0.1",
        "x": 580,
        "y": 2080,
        "wires": [
            [
                "b5e1bf3b14904370"
            ]
        ]
    },
    {
        "id": "b5e1bf3b14904370",
        "type": "trigger",
        "z": "7f19d494c059e988",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "3",
        "extend": false,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 780,
        "y": 2080,
        "wires": [
            [
                "cd6a9dc05a699481",
                "ef29933ccdf4a34a"
            ]
        ]
    },
    {
        "id": "cd6a9dc05a699481",
        "type": "debug",
        "z": "7f19d494c059e988",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 2080,
        "wires": []
    },
    {
        "id": "4ea4d851b282bd67",
        "type": "debug",
        "z": "7f19d494c059e988",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 1840,
        "wires": []
    },
    {
        "id": "a1f294760569d127",
        "type": "trigger",
        "z": "7f19d494c059e988",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "3",
        "extend": false,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 780,
        "y": 1900,
        "wires": [
            [
                "4ea4d851b282bd67",
                "a9fa9f953ff7484a"
            ]
        ]
    },
    {
        "id": "d66f9a8c18cd4ed9",
        "type": "ui_numeric",
        "z": "7f19d494c059e988",
        "name": "",
        "label": "EC low",
        "tooltip": "",
        "group": "bab6a33222fcfd11",
        "order": 1,
        "width": 5,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "eclow",
        "topicType": "msg",
        "format": "{{value}}  mS/cm",
        "min": 0,
        "max": "1.5",
        "step": "0.1",
        "x": 580,
        "y": 1900,
        "wires": [
            [
                "a1f294760569d127"
            ]
        ]
    },
    {
        "id": "b80206f6b716d5dd",
        "type": "inject",
        "z": "7f19d494c059e988",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6.5",
        "payloadType": "num",
        "x": 370,
        "y": 2080,
        "wires": [
            [
                "1c0ce4be971f0511"
            ]
        ]
    },
    {
        "id": "f7889faf3037a84c",
        "type": "inject",
        "z": "7f19d494c059e988",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5.5",
        "payloadType": "num",
        "x": 370,
        "y": 2020,
        "wires": [
            [
                "45fad4270feb37fb"
            ]
        ]
    },
    {
        "id": "de4cdc28e0cf85a3",
        "type": "inject",
        "z": "7f19d494c059e988",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1.6",
        "payloadType": "num",
        "x": 370,
        "y": 1960,
        "wires": [
            [
                "f04b77fa18271244"
            ]
        ]
    },
    {
        "id": "5e76b024508a5049",
        "type": "ui_text_input",
        "z": "7f19d494c059e988",
        "name": "",
        "label": "time",
        "tooltip": "",
        "group": "6f0450b9abbe27dc",
        "order": 21,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 2300,
        "wires": [
            [
                "28cc6f84825bf3e3",
                "032c8cef0370bade"
            ]
        ]
    },
    {
        "id": "23f58faf64af6338",
        "type": "ui_ui_control",
        "z": "7f19d494c059e988",
        "name": "",
        "events": "all",
        "x": 60,
        "y": 2280,
        "wires": [
            [
                "efa7ad290e784dd9"
            ]
        ]
    },
    {
        "id": "efa7ad290e784dd9",
        "type": "change",
        "z": "7f19d494c059e988",
        "name": "set time",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "57180000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 2280,
        "wires": [
            []
        ]
    },
    {
        "id": "28cc6f84825bf3e3",
        "type": "debug",
        "z": "7f19d494c059e988",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 2260,
        "wires": []
    },
    {
        "id": "032c8cef0370bade",
        "type": "function",
        "z": "7f19d494c059e988",
        "name": "function 4",
        "func": "const time = new Date(msg.payload.Start)\n// this is the number of milliseconds into the day, if needed\n//const msecLocal = time.getTime() - time.getTimezoneOffset() * 60000\nconst hours = time.getHours()\nconst mins = time.getMinutes()\nmsg.payload = `${hours.toString().padStart(2, \"0\")}:${mins.toString().padStart(2, \"0\")}`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 2340,
        "wires": [
            [
                "a9326ae1a6a2659c"
            ]
        ]
    },
    {
        "id": "a9326ae1a6a2659c",
        "type": "debug",
        "z": "7f19d494c059e988",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 2300,
        "wires": []
    },
    {
        "id": "a917756699e1cff4",
        "type": "ui_form",
        "z": "7f19d494c059e988",
        "name": "",
        "label": "",
        "group": "6f0450b9abbe27dc",
        "order": 11,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "on time",
                "value": "ontime",
                "type": "time",
                "required": true,
                "rows": null
            },
            {
                "label": "of time",
                "value": "oftime",
                "type": "time",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "ontime": "",
            "oftime": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 50,
        "y": 2320,
        "wires": [
            [
                "11a47a81d02e2b3f"
            ]
        ]
    },
    {
        "id": "11a47a81d02e2b3f",
        "type": "debug",
        "z": "7f19d494c059e988",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 200,
        "y": 2320,
        "wires": []
    },
    {
        "id": "7804c3aa53d9a9b6",
        "type": "ui_dropdown",
        "z": "7f19d494c059e988",
        "name": "",
        "label": "HH",
        "tooltip": "",
        "place": "Select option",
        "group": "184e2bee2e072a93",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "00",
                "type": "str"
            },
            {
                "label": "",
                "value": "01",
                "type": "str"
            },
            {
                "label": "",
                "value": "02",
                "type": "str"
            },
            {
                "label": "",
                "value": "03",
                "type": "str"
            },
            {
                "label": "",
                "value": "04",
                "type": "str"
            },
            {
                "label": "",
                "value": "05",
                "type": "str"
            },
            {
                "label": "",
                "value": "06",
                "type": "str"
            },
            {
                "label": "",
                "value": "07",
                "type": "str"
            },
            {
                "label": "",
                "value": "08",
                "type": "str"
            },
            {
                "label": "",
                "value": "09",
                "type": "str"
            },
            {
                "label": "",
                "value": "10",
                "type": "str"
            },
            {
                "label": "",
                "value": "11",
                "type": "str"
            },
            {
                "label": "",
                "value": "12",
                "type": "str"
            },
            {
                "label": "",
                "value": "13",
                "type": "str"
            },
            {
                "label": "",
                "value": "14",
                "type": "str"
            },
            {
                "label": "",
                "value": "15",
                "type": "str"
            },
            {
                "label": "",
                "value": "16",
                "type": "str"
            },
            {
                "label": "",
                "value": "17",
                "type": "str"
            },
            {
                "label": "",
                "value": "18",
                "type": "str"
            },
            {
                "label": "",
                "value": "19",
                "type": "str"
            },
            {
                "label": "",
                "value": "20",
                "type": "str"
            },
            {
                "label": "",
                "value": "21",
                "type": "str"
            },
            {
                "label": "",
                "value": "22",
                "type": "str"
            },
            {
                "label": "",
                "value": "23",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "on",
        "topicType": "msg",
        "x": 350,
        "y": 2600,
        "wires": [
            [
                "3b4989dc972d0bd1"
            ]
        ]
    },
    {
        "id": "d2f03fc87b7285f2",
        "type": "ui_dropdown",
        "z": "7f19d494c059e988",
        "name": "",
        "label": "MM",
        "tooltip": "",
        "place": "Select option",
        "group": "184e2bee2e072a93",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "00",
                "type": "str"
            },
            {
                "label": "",
                "value": "01",
                "type": "str"
            },
            {
                "label": "",
                "value": "02",
                "type": "str"
            },
            {
                "label": "",
                "value": "03",
                "type": "str"
            },
            {
                "label": "",
                "value": "04",
                "type": "str"
            },
            {
                "label": "",
                "value": "05",
                "type": "str"
            },
            {
                "label": "",
                "value": "06",
                "type": "str"
            },
            {
                "label": "",
                "value": "07",
                "type": "str"
            },
            {
                "label": "",
                "value": "08",
                "type": "str"
            },
            {
                "label": "",
                "value": "09",
                "type": "str"
            },
            {
                "label": "",
                "value": "10",
                "type": "str"
            },
            {
                "label": "",
                "value": "11",
                "type": "str"
            },
            {
                "label": "",
                "value": "12",
                "type": "str"
            },
            {
                "label": "",
                "value": "13",
                "type": "str"
            },
            {
                "label": "",
                "value": "14",
                "type": "str"
            },
            {
                "label": "",
                "value": "15",
                "type": "str"
            },
            {
                "label": "",
                "value": "16",
                "type": "str"
            },
            {
                "label": "",
                "value": "17",
                "type": "str"
            },
            {
                "label": "",
                "value": "18",
                "type": "str"
            },
            {
                "label": "",
                "value": "19",
                "type": "str"
            },
            {
                "label": "",
                "value": "20",
                "type": "str"
            },
            {
                "label": "",
                "value": "21",
                "type": "str"
            },
            {
                "label": "",
                "value": "22",
                "type": "str"
            },
            {
                "label": "",
                "value": "23",
                "type": "str"
            },
            {
                "label": "",
                "value": "24",
                "type": "str"
            },
            {
                "label": "",
                "value": "25",
                "type": "str"
            },
            {
                "label": "",
                "value": "26",
                "type": "str"
            },
            {
                "label": "",
                "value": "27",
                "type": "str"
            },
            {
                "label": "",
                "value": "28",
                "type": "str"
            },
            {
                "label": "",
                "value": "29",
                "type": "str"
            },
            {
                "label": "",
                "value": "30",
                "type": "str"
            },
            {
                "label": "",
                "value": "31",
                "type": "str"
            },
            {
                "label": "",
                "value": "32",
                "type": "str"
            },
            {
                "label": "",
                "value": "33",
                "type": "str"
            },
            {
                "label": "",
                "value": "34",
                "type": "str"
            },
            {
                "label": "",
                "value": "35",
                "type": "str"
            },
            {
                "label": "",
                "value": "36",
                "type": "str"
            },
            {
                "label": "",
                "value": "37",
                "type": "str"
            },
            {
                "label": "",
                "value": "38",
                "type": "str"
            },
            {
                "label": "",
                "value": "39",
                "type": "str"
            },
            {
                "label": "",
                "value": "40",
                "type": "str"
            },
            {
                "label": "",
                "value": "41",
                "type": "str"
            },
            {
                "label": "",
                "value": "42",
                "type": "str"
            },
            {
                "label": "",
                "value": "43",
                "type": "str"
            },
            {
                "label": "",
                "value": "44",
                "type": "str"
            },
            {
                "label": "",
                "value": "45",
                "type": "str"
            },
            {
                "label": "",
                "value": "46",
                "type": "str"
            },
            {
                "label": "",
                "value": "47",
                "type": "str"
            },
            {
                "label": "",
                "value": "48",
                "type": "str"
            },
            {
                "label": "",
                "value": "49",
                "type": "str"
            },
            {
                "label": "",
                "value": "50",
                "type": "str"
            },
            {
                "label": "",
                "value": "51",
                "type": "str"
            },
            {
                "label": "",
                "value": "52",
                "type": "str"
            },
            {
                "label": "",
                "value": "53",
                "type": "str"
            },
            {
                "label": "",
                "value": "54",
                "type": "str"
            },
            {
                "label": "",
                "value": "55",
                "type": "str"
            },
            {
                "label": "",
                "value": "56",
                "type": "str"
            },
            {
                "label": "",
                "value": "57",
                "type": "str"
            },
            {
                "label": "",
                "value": "58",
                "type": "str"
            },
            {
                "label": "",
                "value": "59",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic1",
        "topicType": "msg",
        "x": 350,
        "y": 2660,
        "wires": [
            [
                "de885a1b2cb69479"
            ]
        ]
    },
    {
        "id": "36a1aaf3d87912b9",
        "type": "inject",
        "z": "7f19d494c059e988",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1.2",
        "payloadType": "num",
        "x": 370,
        "y": 1900,
        "wires": [
            [
                "d66f9a8c18cd4ed9"
            ]
        ]
    },
    {
        "id": "a9fa9f953ff7484a",
        "type": "mqtt out",
        "z": "7f19d494c059e988",
        "name": "",
        "topic": "@msg/eclow",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b405711ecd9fc7a4",
        "x": 970,
        "y": 1880,
        "wires": []
    },
    {
        "id": "8f2d0d6b4a92f0c8",
        "type": "mqtt out",
        "z": "7f19d494c059e988",
        "name": "",
        "topic": "@msg/echigh",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b405711ecd9fc7a4",
        "x": 980,
        "y": 1960,
        "wires": []
    },
    {
        "id": "4f9044cf3609e5ad",
        "type": "mqtt out",
        "z": "7f19d494c059e988",
        "name": "",
        "topic": "@msg/phlow",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b405711ecd9fc7a4",
        "x": 970,
        "y": 2040,
        "wires": []
    },
    {
        "id": "ef29933ccdf4a34a",
        "type": "mqtt out",
        "z": "7f19d494c059e988",
        "name": "",
        "topic": "@msg/phhigh",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b405711ecd9fc7a4",
        "x": 980,
        "y": 2120,
        "wires": []
    },
    {
        "id": "b1b89fa5f9d4e6e8",
        "type": "ui_dropdown",
        "z": "7f19d494c059e988",
        "name": "",
        "label": "HH",
        "tooltip": "",
        "place": "Select hour",
        "group": "6b5503ba433b307f",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "00",
                "type": "str"
            },
            {
                "label": "",
                "value": "01",
                "type": "str"
            },
            {
                "label": "",
                "value": "02",
                "type": "str"
            },
            {
                "label": "",
                "value": "03",
                "type": "str"
            },
            {
                "label": "",
                "value": "04",
                "type": "str"
            },
            {
                "label": "",
                "value": "05",
                "type": "str"
            },
            {
                "label": "",
                "value": "06",
                "type": "str"
            },
            {
                "label": "",
                "value": "07",
                "type": "str"
            },
            {
                "label": "",
                "value": "08",
                "type": "str"
            },
            {
                "label": "",
                "value": "09",
                "type": "str"
            },
            {
                "label": "",
                "value": "10",
                "type": "str"
            },
            {
                "label": "",
                "value": "11",
                "type": "str"
            },
            {
                "label": "",
                "value": "12",
                "type": "str"
            },
            {
                "label": "",
                "value": "13",
                "type": "str"
            },
            {
                "label": "",
                "value": "14",
                "type": "str"
            },
            {
                "label": "",
                "value": "15",
                "type": "str"
            },
            {
                "label": "",
                "value": "16",
                "type": "str"
            },
            {
                "label": "",
                "value": "17",
                "type": "str"
            },
            {
                "label": "",
                "value": "18",
                "type": "str"
            },
            {
                "label": "",
                "value": "19",
                "type": "str"
            },
            {
                "label": "",
                "value": "20",
                "type": "str"
            },
            {
                "label": "",
                "value": "21",
                "type": "str"
            },
            {
                "label": "",
                "value": "22",
                "type": "str"
            },
            {
                "label": "",
                "value": "23",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "x": 850,
        "y": 2600,
        "wires": [
            [
                "c033a2c0cf106d30"
            ]
        ]
    },
    {
        "id": "e4cbee841d20703c",
        "type": "ui_dropdown",
        "z": "7f19d494c059e988",
        "name": "",
        "label": "MM",
        "tooltip": "",
        "place": "Select minute",
        "group": "6b5503ba433b307f",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "00",
                "type": "str"
            },
            {
                "label": "",
                "value": "01",
                "type": "str"
            },
            {
                "label": "",
                "value": "02",
                "type": "str"
            },
            {
                "label": "",
                "value": "03",
                "type": "str"
            },
            {
                "label": "",
                "value": "04",
                "type": "str"
            },
            {
                "label": "",
                "value": "05",
                "type": "str"
            },
            {
                "label": "",
                "value": "06",
                "type": "str"
            },
            {
                "label": "",
                "value": "07",
                "type": "str"
            },
            {
                "label": "",
                "value": "08",
                "type": "str"
            },
            {
                "label": "",
                "value": "09",
                "type": "str"
            },
            {
                "label": "",
                "value": "10",
                "type": "str"
            },
            {
                "label": "",
                "value": "11",
                "type": "str"
            },
            {
                "label": "",
                "value": "12",
                "type": "str"
            },
            {
                "label": "",
                "value": "13",
                "type": "str"
            },
            {
                "label": "",
                "value": "14",
                "type": "str"
            },
            {
                "label": "",
                "value": "15",
                "type": "str"
            },
            {
                "label": "",
                "value": "16",
                "type": "str"
            },
            {
                "label": "",
                "value": "17",
                "type": "str"
            },
            {
                "label": "",
                "value": "18",
                "type": "str"
            },
            {
                "label": "",
                "value": "19",
                "type": "str"
            },
            {
                "label": "",
                "value": "20",
                "type": "str"
            },
            {
                "label": "",
                "value": "21",
                "type": "str"
            },
            {
                "label": "",
                "value": "22",
                "type": "str"
            },
            {
                "label": "",
                "value": "23",
                "type": "str"
            },
            {
                "label": "",
                "value": "24",
                "type": "str"
            },
            {
                "label": "",
                "value": "25",
                "type": "str"
            },
            {
                "label": "",
                "value": "26",
                "type": "str"
            },
            {
                "label": "",
                "value": "27",
                "type": "str"
            },
            {
                "label": "",
                "value": "28",
                "type": "str"
            },
            {
                "label": "",
                "value": "29",
                "type": "str"
            },
            {
                "label": "",
                "value": "30",
                "type": "str"
            },
            {
                "label": "",
                "value": "31",
                "type": "str"
            },
            {
                "label": "",
                "value": "32",
                "type": "str"
            },
            {
                "label": "",
                "value": "33",
                "type": "str"
            },
            {
                "label": "",
                "value": "34",
                "type": "str"
            },
            {
                "label": "",
                "value": "35",
                "type": "str"
            },
            {
                "label": "",
                "value": "36",
                "type": "str"
            },
            {
                "label": "",
                "value": "37",
                "type": "str"
            },
            {
                "label": "",
                "value": "38",
                "type": "str"
            },
            {
                "label": "",
                "value": "39",
                "type": "str"
            },
            {
                "label": "",
                "value": "40",
                "type": "str"
            },
            {
                "label": "",
                "value": "41",
                "type": "str"
            },
            {
                "label": "",
                "value": "42",
                "type": "str"
            },
            {
                "label": "",
                "value": "43",
                "type": "str"
            },
            {
                "label": "",
                "value": "44",
                "type": "str"
            },
            {
                "label": "",
                "value": "45",
                "type": "str"
            },
            {
                "label": "",
                "value": "46",
                "type": "str"
            },
            {
                "label": "",
                "value": "47",
                "type": "str"
            },
            {
                "label": "",
                "value": "48",
                "type": "str"
            },
            {
                "label": "",
                "value": "49",
                "type": "str"
            },
            {
                "label": "",
                "value": "50",
                "type": "str"
            },
            {
                "label": "",
                "value": "51",
                "type": "str"
            },
            {
                "label": "",
                "value": "52",
                "type": "str"
            },
            {
                "label": "",
                "value": "53",
                "type": "str"
            },
            {
                "label": "",
                "value": "54",
                "type": "str"
            },
            {
                "label": "",
                "value": "55",
                "type": "str"
            },
            {
                "label": "",
                "value": "56",
                "type": "str"
            },
            {
                "label": "",
                "value": "57",
                "type": "str"
            },
            {
                "label": "",
                "value": "58",
                "type": "str"
            },
            {
                "label": "",
                "value": "59",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "x": 850,
        "y": 2660,
        "wires": [
            [
                "29f728069fa5791b"
            ]
        ]
    },
    {
        "id": "3b4989dc972d0bd1",
        "type": "trigger",
        "z": "7f19d494c059e988",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "5",
        "extend": false,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 480,
        "y": 2600,
        "wires": [
            [
                "4cc8ec8141cc48cb"
            ]
        ]
    },
    {
        "id": "de885a1b2cb69479",
        "type": "trigger",
        "z": "7f19d494c059e988",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "5",
        "extend": false,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 480,
        "y": 2660,
        "wires": [
            [
                "8f34ef106cf30290"
            ]
        ]
    },
    {
        "id": "c033a2c0cf106d30",
        "type": "trigger",
        "z": "7f19d494c059e988",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "5",
        "extend": false,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1000,
        "y": 2600,
        "wires": [
            [
                "4af8d955d168b0cf"
            ]
        ]
    },
    {
        "id": "29f728069fa5791b",
        "type": "trigger",
        "z": "7f19d494c059e988",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "5",
        "extend": false,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1000,
        "y": 2660,
        "wires": [
            [
                "b37ab1ea6dc3a0fa"
            ]
        ]
    },
    {
        "id": "4cc8ec8141cc48cb",
        "type": "debug",
        "z": "7f19d494c059e988",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 2600,
        "wires": []
    },
    {
        "id": "8f34ef106cf30290",
        "type": "debug",
        "z": "7f19d494c059e988",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 2660,
        "wires": []
    },
    {
        "id": "b37ab1ea6dc3a0fa",
        "type": "debug",
        "z": "7f19d494c059e988",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 2660,
        "wires": []
    },
    {
        "id": "4af8d955d168b0cf",
        "type": "debug",
        "z": "7f19d494c059e988",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 2600,
        "wires": []
    },
    {
        "id": "ce5ed59496cd1433",
        "type": "ui_text",
        "z": "7f19d494c059e988",
        "group": "470e04a4.87c72c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Serial Number",
        "label": "Serial Number",
        "format": "{{msg.SerialNumber}}",
        "layout": "col-center",
        "x": 680,
        "y": 2860,
        "wires": []
    },
    {
        "id": "8b988b1820c6f4bf",
        "type": "ui_text",
        "z": "7f19d494c059e988",
        "group": "470e04a4.87c72c",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "JSON Version",
        "label": "JSON Version:",
        "format": "{{msg.JSONVersion}}",
        "layout": "row-center",
        "x": 680,
        "y": 2900,
        "wires": []
    },
    {
        "id": "128402f784c954e4",
        "type": "ui_text",
        "z": "7f19d494c059e988",
        "group": "5d0c1097ead086ed",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "Time on",
        "label": "Time on :",
        "format": "{{msg.temp}}",
        "layout": "row-left",
        "x": 660,
        "y": 2740,
        "wires": []
    },
    {
        "id": "8947cb8324e68ac8",
        "type": "ui_text",
        "z": "7f19d494c059e988",
        "group": "5d0c1097ead086ed",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Time off :",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 660,
        "y": 2780,
        "wires": []
    },
    {
        "id": "6dbd577fd7fce85f",
        "type": "mqtt in",
        "z": "07ee3ad2e7ca2297",
        "name": "",
        "topic": "@msg/v1/devices/me/telemetry",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b405711ecd9fc7a4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 280,
        "wires": [
            [
                "5ba2868d53ee09ec",
                "543f8b1617b1ea9c",
                "f5bfae35b8e704e8",
                "e30bcb66f18459a8",
                "85698c2c7fda49b1",
                "39d9aa4c3cd685f0"
            ]
        ]
    },
    {
        "id": "5ba2868d53ee09ec",
        "type": "debug",
        "z": "07ee3ad2e7ca2297",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 200,
        "wires": []
    },
    {
        "id": "543f8b1617b1ea9c",
        "type": "ui_gauge",
        "z": "07ee3ad2e7ca2297",
        "name": "",
        "group": "24c7fd76550f3bef",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{payload.hum}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#94e4ff",
            "#00d6e6",
            "#3a3ecb"
        ],
        "seg1": "40",
        "seg2": "60",
        "x": 700,
        "y": 380,
        "wires": []
    },
    {
        "id": "f5bfae35b8e704e8",
        "type": "ui_gauge",
        "z": "07ee3ad2e7ca2297",
        "name": "",
        "group": "66b01cfada6acfb3",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{payload.temp}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#000cb3",
            "#0fe600",
            "#ca3838"
        ],
        "seg1": "28",
        "seg2": "35",
        "x": 710,
        "y": 340,
        "wires": []
    },
    {
        "id": "e30bcb66f18459a8",
        "type": "ui_gauge",
        "z": "07ee3ad2e7ca2297",
        "name": "",
        "group": "24c7fd76550f3bef",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "EC",
        "label": "mS/cm",
        "format": "{{payload.ec}}",
        "min": 0,
        "max": "2",
        "colors": [
            "#85ffca",
            "#00e626",
            "#00a81c"
        ],
        "seg1": "",
        "seg2": "",
        "x": 690,
        "y": 420,
        "wires": []
    },
    {
        "id": "85698c2c7fda49b1",
        "type": "ui_gauge",
        "z": "07ee3ad2e7ca2297",
        "name": "",
        "group": "66b01cfada6acfb3",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "pH",
        "label": "",
        "format": "{{payload.ph}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#ff0000",
            "#00e626",
            "#0022a8"
        ],
        "seg1": "5",
        "seg2": "8",
        "x": 690,
        "y": 460,
        "wires": []
    },
    {
        "id": "01bcd9e88cc61873",
        "type": "ui_toast",
        "z": "07ee3ad2e7ca2297",
        "position": "top right",
        "displayTime": "3",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 430,
        "y": 680,
        "wires": []
    },
    {
        "id": "d5ae17a710ea2c10",
        "type": "inject",
        "z": "07ee3ad2e7ca2297",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "b ur as",
        "payloadType": "str",
        "x": 150,
        "y": 680,
        "wires": [
            [
                "01bcd9e88cc61873"
            ]
        ]
    },
    {
        "id": "39d9aa4c3cd685f0",
        "type": "ui_text",
        "z": "07ee3ad2e7ca2297",
        "group": "5d0c1097ead086ed",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "Time on",
        "label": "Time on :",
        "format": "{{payload.onhh}}:{{payload.onmm}}:{{payload.onss}}",
        "layout": "row-center",
        "x": 700,
        "y": 520,
        "wires": []
    },
    {
        "id": "6a66b637.da1558",
        "type": "http request",
        "z": "56b9510c.98c6f",
        "d": true,
        "name": "HTTP Request (POST)",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://netio-4All.netio-products.com:8080/netio.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 100,
        "wires": [
            [
                "9cc48ba4.233128"
            ]
        ]
    },
    {
        "id": "9cc48ba4.233128",
        "type": "debug",
        "z": "56b9510c.98c6f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 100,
        "wires": []
    },
    {
        "id": "aa32bf8.f83704",
        "type": "http request",
        "z": "56b9510c.98c6f",
        "d": true,
        "name": "HTTP Request (GET)",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://netio-4All.netio-products.com:8080/netio.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 520,
        "y": 240,
        "wires": [
            [
                "23bf436c.8d90bc"
            ]
        ]
    },
    {
        "id": "23bf436c.8d90bc",
        "type": "json",
        "z": "56b9510c.98c6f",
        "name": "JSON Parse",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 240,
        "wires": [
            [
                "3481543c.05cefc"
            ]
        ]
    },
    {
        "id": "3481543c.05cefc",
        "type": "function",
        "z": "56b9510c.98c6f",
        "name": "Function",
        "func": "msg.Model = msg.payload.Agent.Model;\nmsg.Version = msg.payload.Agent.Version;\nmsg.Time = msg.payload.Agent.Time;\nmsg.JSONVersion = msg.payload.Agent.JSONVer;\nmsg.SerialNumber = msg.payload.Agent.SerialNumber;\n\ntry{msg.Voltage = msg.payload.GlobalMeasure.Voltage}\n catch (err1) {msg.Voltage = 0;}\ntry{msg.Frequency = msg.payload.GlobalMeasure.Frequency}\n catch (err2) {msg.Frequency = 0;}\ntry{msg.TotalCurrent = msg.payload.GlobalMeasure.TotalCurrent / 1000}\n catch (err3) {msg.TotalCurrent = 0;}\ntry{msg.OverallPowerFactor = msg.payload.GlobalMeasure.OverallPowerFactor}\n catch (err4) {msg.OverallPowerFactor = 0;}\ntry{msg.TotalLoad = msg.payload.GlobalMeasure.TotalLoad}\n catch (err5) {msg.TotalLoad = 0;}\n\nmsg.O1_State = msg.payload.Outputs[0].State;\nmsg.O2_State = msg.payload.Outputs[1].State;\nmsg.O3_State = msg.payload.Outputs[2].State;\nmsg.O4_State = msg.payload.Outputs[3].State;\n\nif(msg.O1_State) msg.O1_Color = \"#09ef28\";\n else msg.O1_Color = \"Orange\";\nif(msg.O2_State) msg.O2_Color = \"#09ef28\";\n else msg.O2_Color = \"Orange\";\nif(msg.O3_State) msg.O3_Color = \"#09ef28\";\n else msg.O3_Color = \"Orange\";\nif(msg.O4_State) msg.O4_Color = \"#09ef28\";\n else msg.O4_Color = \"Orange\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 240,
        "wires": [
            [
                "d764a23a.3c531"
            ]
        ]
    },
    {
        "id": "76fd06c4.0f36f8",
        "type": "ui_text",
        "z": "56b9510c.98c6f",
        "group": "470e04a4.87c72c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "NETIO model",
        "label": "NETIO Model: ",
        "format": "{{msg.Model}}",
        "layout": "row-center",
        "x": 660,
        "y": 360,
        "wires": []
    },
    {
        "id": "8345c1eb.4a0e6",
        "type": "ui_text",
        "z": "56b9510c.98c6f",
        "group": "470e04a4.87c72c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Model Firmware",
        "format": "{{msg.Version}}",
        "layout": "row-center",
        "x": 660,
        "y": 400,
        "wires": []
    },
    {
        "id": "7ed7e52e.27477c",
        "type": "ui_text",
        "z": "56b9510c.98c6f",
        "group": "470e04a4.87c72c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Serial Number",
        "label": "Serial Number",
        "format": "{{msg.SerialNumber}}",
        "layout": "col-center",
        "x": 660,
        "y": 440,
        "wires": []
    },
    {
        "id": "4852076c.3868e8",
        "type": "ui_text",
        "z": "56b9510c.98c6f",
        "group": "470e04a4.87c72c",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "JSON Version",
        "label": "JSON Version:",
        "format": "{{msg.JSONVersion}}",
        "layout": "row-center",
        "x": 660,
        "y": 480,
        "wires": []
    },
    {
        "id": "7472ee86.79bc3",
        "type": "ui_gauge",
        "z": "56b9510c.98c6f",
        "name": "Current (Device)",
        "group": "a7539552.a04768",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current ({{msg.Model}})",
        "label": "A",
        "format": "{{msg.TotalCurrent}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 300,
        "y": 400,
        "wires": []
    },
    {
        "id": "3068d819.5ff718",
        "type": "ui_gauge",
        "z": "56b9510c.98c6f",
        "name": "Overall Power Factor",
        "group": "a7539552.a04768",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Overall Power Factor",
        "label": "",
        "format": "{{msg.OverallPowerFactor}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 320,
        "y": 440,
        "wires": []
    },
    {
        "id": "323990ed.14cf5",
        "type": "ui_gauge",
        "z": "56b9510c.98c6f",
        "name": "Voltage",
        "group": "a7539552.a04768",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Voltage",
        "label": "V",
        "format": "{{msg.Voltage}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 280,
        "y": 480,
        "wires": []
    },
    {
        "id": "3e88e47a.74d26c",
        "type": "ui_gauge",
        "z": "56b9510c.98c6f",
        "name": "Frequency",
        "group": "a7539552.a04768",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Frequency",
        "label": "Hz",
        "format": "{{msg.Frequency}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 290,
        "y": 520,
        "wires": []
    },
    {
        "id": "9b0f772f.e0fc58",
        "type": "ui_chart",
        "z": "56b9510c.98c6f",
        "name": "Current Chart (Device)",
        "group": "a7539552.a04768",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Current ",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "32",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#0000a0",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 320,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "51626bea.79f244",
        "type": "link in",
        "z": "56b9510c.98c6f",
        "name": "",
        "links": [
            "d764a23a.3c531"
        ],
        "x": 75,
        "y": 400,
        "wires": [
            [
                "7472ee86.79bc3",
                "3068d819.5ff718",
                "323990ed.14cf5",
                "3e88e47a.74d26c",
                "3567a4c0.0ee3cc",
                "c3c29296.4505d"
            ]
        ]
    },
    {
        "id": "d764a23a.3c531",
        "type": "link out",
        "z": "56b9510c.98c6f",
        "name": "Link",
        "links": [
            "51626bea.79f244",
            "57f3c961.d9b3e8",
            "bda11677.919808"
        ],
        "x": 955,
        "y": 240,
        "wires": []
    },
    {
        "id": "bda11677.919808",
        "type": "link in",
        "z": "56b9510c.98c6f",
        "name": "",
        "links": [
            "d764a23a.3c531"
        ],
        "x": 495,
        "y": 440,
        "wires": [
            [
                "76fd06c4.0f36f8",
                "8345c1eb.4a0e6",
                "7ed7e52e.27477c",
                "4852076c.3868e8"
            ]
        ]
    },
    {
        "id": "3567a4c0.0ee3cc",
        "type": "function",
        "z": "56b9510c.98c6f",
        "name": "Current Chart",
        "func": "msg.payload = msg.TotalCurrent;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 300,
        "wires": [
            [
                "9b0f772f.e0fc58"
            ]
        ]
    },
    {
        "id": "c3c29296.4505d",
        "type": "ui_gauge",
        "z": "56b9510c.98c6f",
        "name": "",
        "group": "a7539552.a04768",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Total Load",
        "label": "W",
        "format": "{{msg.TotalLoad}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 290,
        "y": 560,
        "wires": []
    },
    {
        "id": "ded04c51.0b31e",
        "type": "inject",
        "z": "56b9510c.98c6f",
        "name": "1 Second Repeat",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 240,
        "wires": [
            [
                "aa32bf8.f83704"
            ]
        ]
    },
    {
        "id": "763762d6.d52dec",
        "type": "ui_button",
        "z": "56b9510c.98c6f",
        "name": "Output 1 = ON",
        "group": "ab94b758.4be768",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Output 1 = ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"Outputs\":[{\"ID\":1,\"Action\":1}]}",
        "payloadType": "json",
        "topic": "",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "6a66b637.da1558"
            ]
        ]
    },
    {
        "id": "3930df24.761ab",
        "type": "ui_button",
        "z": "56b9510c.98c6f",
        "name": "Output 1 = OFF",
        "group": "ab94b758.4be768",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Output 1 = OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"Outputs\":[{\"ID\":1,\"Action\":0}]}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "6a66b637.da1558"
            ]
        ]
    },
    {
        "id": "3f0ec8e0.d39668",
        "type": "ui_button",
        "z": "56b9510c.98c6f",
        "name": "Output 1 = Short ON",
        "group": "ab94b758.4be768",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Output 1 = Short ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"Outputs\":[{\"ID\":1,\"Action\":3}]}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "6a66b637.da1558"
            ]
        ]
    },
    {
        "id": "26a70e42.0b8e12",
        "type": "ui_button",
        "z": "56b9510c.98c6f",
        "name": "Output 1 = Short OFF",
        "group": "ab94b758.4be768",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Output 1 = Short OFF (Restart)",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"Outputs\":[{\"ID\":1,\"Action\":4}]}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "6a66b637.da1558"
            ]
        ]
    },
    {
        "id": "4b19bca6.15d3f4",
        "type": "ui_button",
        "z": "56b9510c.98c6f",
        "name": "Output 1 = Toggle",
        "group": "ab94b758.4be768",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Output 1 = Toggle",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"Outputs\":[{\"ID\":1,\"Action\":2}]}",
        "payloadType": "json",
        "topic": "",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "6a66b637.da1558"
            ]
        ]
    },
    {
        "id": "57f3c961.d9b3e8",
        "type": "link in",
        "z": "56b9510c.98c6f",
        "name": "",
        "links": [
            "d764a23a.3c531"
        ],
        "x": 795,
        "y": 420,
        "wires": [
            [
                "33465792.5b26e8",
                "26696a86.9322d6",
                "7c1508d2.f869a8",
                "c6c0aad.141fa58"
            ]
        ]
    },
    {
        "id": "33465792.5b26e8",
        "type": "ui_text",
        "z": "56b9510c.98c6f",
        "group": "a5e4e892.40d1b8",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "O1 State",
        "label": " O1 =",
        "format": " {{msg.O1_State}} ",
        "layout": "row-center",
        "x": 920,
        "y": 360,
        "wires": []
    },
    {
        "id": "26696a86.9322d6",
        "type": "ui_text",
        "z": "56b9510c.98c6f",
        "group": "a5e4e892.40d1b8",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "O2 State",
        "label": " O2 =",
        "format": " {{msg.O2_State}} ",
        "layout": "row-center",
        "x": 920,
        "y": 400,
        "wires": []
    },
    {
        "id": "7c1508d2.f869a8",
        "type": "ui_text",
        "z": "56b9510c.98c6f",
        "group": "a5e4e892.40d1b8",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "O3 State",
        "label": " O3 =",
        "format": " {{msg.O3_State}} ",
        "layout": "row-center",
        "x": 920,
        "y": 440,
        "wires": []
    },
    {
        "id": "c6c0aad.141fa58",
        "type": "ui_text",
        "z": "56b9510c.98c6f",
        "group": "a5e4e892.40d1b8",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "O4 State",
        "label": " O4 =",
        "format": " {{msg.O4_State}} ",
        "layout": "row-center",
        "x": 920,
        "y": 480,
        "wires": []
    }
]